*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #03203C
}

.container{
    width: 80%;
    height: 60vh;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-div{
    margin: 50px;
}
.btn-div > button{
    width:60px;
    height:60px;
    font-size:30px
}
